#------------------------------------------------------------------------------
# patterns of files and folders to be ignored by git
# # 
# see: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# example: https://github.com/github/gitignore/blob/master/Java.gitignore
#------------------------------------------------------------------------------

# ignore gitmodules folders
.vscode
.devcontainer
.bashrc
.gitmodules
branches

# ignore Makefile dependencies file
*.dep

# ignore README.md to be deleted in local project
README.md

# ignore compiled files and folders with compiled content
*.o
*.obj
out

# ignore dynamic libraries
*.so
*.dll

# ignore static libraries
*.a
*.lib

# ignore executables
*.exe
*.out

# ignore tmp folders
tmp

# ignore archives and encoding files
*.7z
*.gz
*.rar
*.tar
*.tgz
*.tar.gz
*.zip
*.uue*
